@{
    // esta é uma linha de comentário em C# 
    ViewData["Title"] = "Bem Vindo";
}

<div class="text-center">
    <h1 class="display-4">Equação 2º Grau</h1>
    <!--
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    -->
    <h4>Resolução das raízes de uma equação do 2º Grau</h4>  
</div>

<form>
    @*
        Este comentário SÓ SERÁ visível no Visual Studio
        neste formulário falta aplicar CSS às 'textboxs' e ao 'botão'
    *@
    <div>
        Especifique, por favor, os coeficientes da equação: <br/>
        @*
            o ID é um identificador que é lido APENAS no BROWSER
            o NAME é lido no SERVIDOR
        *@
        A: <input type="text" id="A" name="A" /> <br/>
        B: <input type="text" name="B" /> <br />
        C: <input type="text" name="C" /> <br />
        <input type="submit" value="Calcular"/>
    </div>
</form>

@*
    ler o conteúdo das ViewBag
*@

<div>
    &nbsp; <br/>
    @ViewBag.Mensagem <br />
    x1 = @ViewBag.X1 <br />
    x2 = @ViewBag.X2

</div>